<div class="cf-tabs">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 cf-tabs">
        <!-- <a class="cf-tab-link" [routerLink]="[to_appointments]" routerLinkActive="router-link-active"> -->
        <!-- <a class="cf-tab-link">
          {{ "confa.my_appointments" | translate }}
        </a>
        <a
          class="cf-tab-link"
          [routerLink]="[to_accommodation]"
          routerLinkActive="router-link-active-accomodation"
          [routerLinkActiveOptions]="{ exact: true }"
          tooltip="Reserva un alojamiento en nuestros Centros Recreacionales"
          placement="bottom"
          triggers="hover focus"
          containerClass="cf-tooltip"
        >
          {{ "confa.book_accommodation" | translate }}
        </a> -->
      </div>
    </div>
  </div>
</div>
