.table thead {
    background-color: transparent;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0;
    filter: alpha(opacity=0);
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0 linear 0.3s;
    z-index: 1;
    &.open {
        opacity: 0.8;
        filter: alpha(opacity=80);
        visibility: visible;
        transition: opacity 0.3s ease-in-out;
    }
}

a {
    &.login-button {
        color: #fff;
        & :hover {
            color: #e6e6e6;
        }
    }
}

.btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    input {
        &.search {
            width: 90% !important;
            margin-bottom: 5px;
        }
    }
    .search-btn {
        width: 90%;
    }
    .assisant {
        padding: 10%;
        background-color: #e6e6e6;
        border-radius: 50px;
        width: 100%;
        margin: 5px;
        & .assintant-member {
            padding: 10px !important;
            text-align: center;
            & .add-button {
                position: inherit;
                right: 0;
                display: block;
                text-align: center;
            }
        }
    }
    .assistInfo {
        text-align: center;
        & a {
            float: none;
            display: block;
        }
    }
}

.toast-middle-right {
    //display: flex;
    //align-items: center;
    bottom: 30%;
    right: 12px;
}

a {
    color: #4b4b4b;
    &:hover {
        color: #e82875;
    }
    &.active {
        color: #e82875;
    }
}

a.link-politicas {
    color: #e82875;
    text-decoration: underline;
}

button.btn.buttonclosemodal {
    background-color: #fff;
    border: 1px rgb(4, 174, 239) solid;
    border-radius: 25px;
    font-size: 16px;
    width: 50%;
    color: rgb(4, 174, 239);
}

button.btn.buttonclosemodal:hover {
    background-color: rgb(4, 174, 239);
    border: 1px #fff solid;
    color: #fff;
}

div.cuerpomodal {
    background-color: rgb(4, 174, 239) !important;
}

div.cuerpomodal div.textbody p {
    margin-left: 35px;
    margin-right: 35px;
    align-items: center;
    text-align: center;
    font-size: 20px !important;
    color: #fff;
}

button.modal-alert-reserve,
button.btnclosemodal,
button.modalUpdateDatos {
    display: none;
}