<app-breadcrumbs [back]="main_appointments" [backMain]="main_health" [step]="step"></app-breadcrumbs>

<div class="cf-section bg-gray-4" id="_section-7">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mt-3 mb-3">
        <app-step-form-widget [styleSteps]="2" [currentStep]="currentStep" [numSteps]="numSteps">
        </app-step-form-widget>
      </div>

      <ng-container *ngIf="currentStep == 1">
        <ng-container *ngTemplateOutlet="personalInfo"></ng-container>
      </ng-container>

      <ng-container *ngIf="currentStep == 2">
        <ng-container [ngTemplateOutlet]="archivosAdjuntos"></ng-container>
      </ng-container>
    </div>
  </div>
</div>

<!--begin:Template for Schedule form-->
<ng-template #personalInfo>
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-6 mb-5">
    <!-- <div class="cf-content-section"> -->
    <!-- <div class="cf-content-header mt-5"> -->
    <!-- <h4>Completa esta información para agendar tu cita quirófano.</h4> -->
    <!-- </div> -->
    <!-- </div> -->
    <!-- <div class="cf-content-inner"> -->
    <ng-container *ngTemplateOutlet="formPersonalInfo"></ng-container>
    <!-- </div> -->
  </div>
</ng-template>
<!--end:Template for Schedule form-->

<!--begin:Template for Schedule structure form-->
<ng-template #formPersonalInfo>
  <form [formGroup]="formScheduleRoom">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <h4 style="color: #00afeb; text-align: center; margin-bottom: 40px">
          Con el diligenciamiento de los siguientes datos verificaremos si cumples con los criterios para incluirte en la entrega del subsidio de salud femenina. 
        </h4>
        <div class="col-md-6">
          <div class="form-group pl-0">
            <label class="m-0 mb-1">Número de documento</label><br />
            <label class="m-0 mb-1 texto2">{{ f.numeroDocumento.value }}</label>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="m-0 mb-1">Nombre</label><br />
            <label class="m-0 mb-1 texto2">{{ f.nombre.value }}</label>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="m-0 mb-1">* Correo electrónico</label>
            <input type="email" formControlName="email" class="form-control cf-form-input"
              placeholder="* Ingresa tu correo electrónico" placement="right" autocomplete="off"
              value="{{ f.email.value }}" [ngClass]="{
                'is-invalid': (submitted || f.email.touched) && f.email.errors
              }" email />
            <div *ngIf="(submitted || f.email.touched) && f.email.errors?.required"
              class="invalid-feedback animated fadeIn fast">
              <span class="badge badge-pill badge-danger d-block mt-2 text-left">Debes ingresar un correo
                electrónico</span>
            </div>
            <div *ngIf="(submitted || f.email.touched) && f.email.errors?.email"
              class="invalid-feedback animated fadeIn fast">
              <span class="badge badge-pill badge-danger d-block mt-2 text-left">El correo electrónico no es
                valido</span>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group pl-0">
            <label class="m-0 mb-1">* Número de teléfono</label>
            <input type="text" formControlName="telefono" class="form-control cf-form-input cf-form-input"
              placeholder="* Ingresa tu número de teléfono" value="{{ f.telefono.value }}" [ngClass]="{
                'is-invalid':
                  (submitted || f.telefono.touched) && f.telefono.errors
              }" />
            <div *ngIf="
                (submitted || f.telefono.touched) &&
                f.telefono.errors?.minlength
              " class="invalid-feedback animated fadeIn fast">
              <span class="badge badge-pill badge-danger d-block mt-2 text-left">Debes ingresar mínimo
                {{ f.telefono.errors.minlength.requiredLength }}
                caracteres</span>
            </div>
            <div *ngIf="
                (submitted || f.telefono.touched) &&
                f.telefono.errors?.maxlength
              " class="invalid-feedback animated fadeIn fast">
              <span class="badge badge-pill badge-danger d-block mt-2 text-left">Debes ingresar máximo
                {{ f.telefono.errors.maxlength.requiredLength }}
                caracteres</span>
            </div>
            <div *ngIf="
                (submitted || f.telefono.touched) && f.telefono.errors?.pattern
              " class="invalid-feedback animated fadeIn fast">
              <span class="badge badge-pill badge-danger d-block mt-2 text-left">Debes ingresar dígitos positivos</span>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group pl-0">
            <label class="m-0 mb-1">* Número de celular</label>
            <input type="text" formControlName="celular" class="form-control cf-form-input"
              placeholder="* Ingresa tu número de celular" value="{{ f.celular.value }}" [ngClass]="{
                'is-invalid':
                  (submitted || f.celular.touched) && f.celular.errors
              }" />
            <div *ngIf="
                (submitted || f.celular.touched) && f.celular.errors?.minlength
              " class="invalid-feedback animated fadeIn fast">
              <span class="badge badge-pill badge-danger d-block mt-2 text-left">Debes ingresar mínimo
                {{ f.celular.errors.minlength.requiredLength }}
                números</span>
            </div>
            <div *ngIf="
                (submitted || f.celular.touched) && f.celular.errors?.maxlength
              " class="invalid-feedback animated fadeIn fast">
              <span class="badge badge-pill badge-danger d-block mt-2 text-left">Debes ingresar máximo
                {{ f.celular.errors.maxlength.requiredLength }}
                números</span>
            </div>
            <div *ngIf="
                (submitted || f.celular.touched) && f.celular.errors?.pattern
              " class="invalid-feedback animated fadeIn fast">
              <span class="badge badge-pill badge-danger d-block mt-2 text-left">Debes ingresar dígitos positivos</span>
            </div>
          </div>
        </div>
        
       
       
      <div class="col-md-6" >
          <div class="form-group pl-0">
              <label class="m-0 mb-1">* Nombre Municipio de Residencia</label>
              <div class="form-group">
                  <div class="cf-custom-select">
                      <select formControlName="municipio" enabled
                          class="form-control cf-form-input"
                          (change)="capturarMunicipio($event.target.value)">
                          <option value="" hidden disabled>
                              * Selecciona un municipio
                          </option> 
                          <option [value]="mun['nombre_municipio']" *ngFor="let mun of municipios">
                              {{ mun['nombre_municipio'] | titlecase }}
                          </option>
                      </select>
                  </div>
              </div>
              <span *ngIf="getMunicipio"
                class="badge badge-pill badge-danger d-block mt-2 text-left">
                  DEBES SELECCIONAR UN MUNICIPIO DE RESIDENCIA</span>
          </div>
      </div>

        <div class="col-md-6"></div>
        <div class="col-md-12 text-left">
          <div class="form-group">* Campos obligatorios.</div>
        </div>
        <div class="col-md-12">
          <div class="form-group m-0" style="align-content: right; width: 100%">
            <button class="btn-credits btn mt-1 mb-3" (click)="submitPersonalInfo()">
              Continuar
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</ng-template>
<!--end:Template for Schedule structure form-->

<!--begin:Template for Schedule calendar-->
<ng-template #archivosAdjuntos>
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-5">
    <div class="cf-section bg-gray-4" id="_section-7">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <form class="form-login needs-validation" [formGroup]="formScheduleRoom">
            <div class="row">
            </div>

            <div class="form-group pl-0" >
              <label class="m-0 mb-1">* Para acceder al subsidio kit de Salud Femenina, tendrás que pagar una parte del valor según tu categoría de afiliación. ¿Estás de acuerdo con el pago?
              </label>
              <br>
              <label class="m-0 mb-1" style="padding-left: 12px;">Valor a pagar categoría A: <b>$ 21.000</b>
              </label>
              <br>
              <label class="m-0 mb-1" style="padding-left: 12px;">Valor a pagar categoría B: <b>$ 42.000</b>
              </label>
              <br>
              <div class="col-md-12 text-left">
                <div class="form-check" >
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="customCheckSi" value="SI" style="padding-left: 20px;">
                  <label class="form-check-label" for="flexRadioDefault1">
                    Sí
                  </label>
                </div>
                <div class="form-check" >
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="customCheckNo" value="NO" style="padding-left: 20px;">
                  <label class="form-check-label" for="flexRadioDefault2">
                    No
                  </label>
                </div>
            </div>
            </div>
          <div>
            <span *ngIf="getAceptaPagar"
                class="badge badge-pill badge-danger cf-badge d-block mt-2 text-left">Debes seleccionar una opcion</span>
            </div>
            <div class="col-md-12 text-left">
              <div class="form-group">* Campos obligatorios.</div>
            </div>
            <div class="col-md-12 text-left">
              <div class="form-group">
                <b>Tener presente:</b>
              </div>
              <div class="form-group">
                <ul style="padding-left: 25px;">
                  <li  type="disc">
                    El valor comercial del kit es de $211.000, el cual incluye copa menstrual, ollita esterilizadora, información de uso del producto y recomendaciones sobre salud femenina.                  </li>
                  <li type="disc">
                    El subsidio aplica para mujeres entre 18 y 54 años de edad.
                  </li>
                  <li type="disc">
                    Este beneficio está vigente hasta el 28 de diciembre de 2023 o hasta agotar existencias.
                  </li>
                  <li type="disc">
                    Por correo electrónico o mensaje de texto te estaremos enviando la respuesta a tu solicitud en un plazo de 3 días hábiles.
                  </li>
                  <li type="disc">
                    Si presentas alguna dificultad, puedes comunicarte con nosotros al correo centro.investigacion@confa.co o a través del WhatsApp 3102091135.
                  </li>
                  <li type="disc">
                    En el momento que te llegue el correo electrónico con la aceptación de la postulación, tendrás 10 días hábiles para reclamar tu subsidio, es decir, cancelar el valor correspondiente según la categoría y recibir el subsidio de salud femenina. Aplica para Manizales y Villamaría. Para los municipios será según la disponibilidad de rutas para entrega y la aceptación de la postulación, lo informaremos oportunamente.
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group m-0" style="align-content: right; width: 100%">
                <button class="btn-credits btn mt-1 mb-3" (click)="onSubmit()">
                  Radicar solicitud
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<!--end:Template for Schedule calendar-->

<app-modal-messages></app-modal-messages>

<app-terms-conditions></app-terms-conditions>
