<div class="overlay cf-splashscreen" [ngClass]="{open: loader}">
    <div class="d-flex justify-content-center align-items-center h-100">
        <div class="overlay-inner">
            <div class="img text-center mb-3">
                <img src="../../assets/images/loading.png">
            </div>
            <div class="row">
                <div class="col-md-12 text-center loading-message">
                    <h2>{{ welcome }}</h2>
                </div>
            </div>
        </div>
    </div>
</div>