body,
html {
  overflow-x: hidden !important;
  overflow-y: auto !important;
  height: 100%;
  zoom: 95%;
}

body {
  font-family: $f-main;
  -moz-transition: opacity 0.24s ease-in-out;
  -webkit-transition: opacity 0.24s ease-in-out;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin: 0;
  opacity: 1;
  padding: 0;
  transition: opacity 0.24s ease-in-out;
  visibility: visible;
  overflow-x: hidden;
}
p {
  text-align: justify;
}

//Canvas styles
.canvas {
  backface-visibility: hidden;
  background-color: #fff;
  /*display: none;*/
  position: fixed;
  //top: $height-header;
  transition: transform 0.4s ease-out;
  z-index: 2;
  -webkit-backface-visibility: hidden;

  //Left and right canvas general configuration
  &.left,
  &.right {
    height: 100vh;
    top: 0;
    width: $width-canvas;
  }

  //Top and bottom canvas general configuration
  &.bottom,
  &.top {
    height: $height-canvas;
    bottom: 0;
    right: 0;
    width: calc(100vw - #{$width-menu});

    &.xs {
      width: calc(100vw - #{$width-menu-xs});
    }
  }

  .canvas-header {
    background-color: $primary-color;
    color: $text-color-header-canvas;

    h3 {
      margin: 0;
    }
  }

  //Left open canvas
  &.left {
    transform: translate(-#{$width-canvas}, 0);

    &.open {
      /*display: block;*/
      transform: translate(#{$width-menu}, 0);

      &.xs {
        transform: translate(#{$width-menu-xs}, 0);
      }
    }
  }

  //Right open canvas
  &.right {
    right: 0;
    transform: translate(#{$width-canvas}, 0);

    &.open {
      /*display: block;*/
      transform: translate(0, 0);
    }
  }

  //Bottom open canvas
  &.bottom {
    transform: translate(0, #{$height-canvas});

    &.open {
      /*display: block;*/
      transform: translate(0, 0);
    }
  }

  //Top open canvas
  &.top {
    top: 0;
    transform: translate(0, -#{$height-canvas});

    &.open {
      /*display: block;*/
      transform: translate(0, 0);
    }
  }
}

.menu-xs {
  .canvas {
    &.bottom,
    &.top {
      width: calc(100% - #{$width-menu-xs});
    }

    &.left {
      transform: translate(#{$width-menu-xs}, 0);
    }
  }
}

.blur-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $bg-canvas;
  opacity: 0;
  filter: alpha(opacity=0);
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0 linear 0.3s;
  z-index: 1;

  &.open {
    opacity: 0.8;
    filter: alpha(opacity=80);
    visibility: visible;
    transition: opacity 0.3s ease-in-out;
  }
}

.simple-ul {
  li {
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    padding: 8px;

    &:hover {
      background-color: $bg-hover-li;
    }

    &:last-child {
      border: none;
    }

    &.selected {
      background-color: $bg-hover-li;
      color: $color-hover-li;
    }
  }
}

.card-header {
  padding: 0;
}

a {
  color: $color-icon;
}

//Tables
.table {
  margin: 0px;

  thead {
    background-color: $bg-table-header;
  }

  tbody {
    td {
      padding: 5px;
      vertical-align: middle;
    }
  }
}

//Buttons
.btn-primary {
  background-color: $color-btn-primary;
  border-color: $color-btn-primary;
}

.btn-success {
  background-color: $color-btn-success;
  border-color: $color-btn-success;
}

.btn-danger {
  background-color: $color-btn-danger;
  border-color: $color-btn-danger;
}

.btn-info {
  background-color: $color-btn-info;
  border-color: $color-btn-info;
}

.btn-warning {
  background-color: $color-btn-warning;
  border-color: $color-btn-warning;
}

.btn-icon {
  border-radius: $btn-icon-border-radius;
  color: #fff;
  display: inline-grid;
  height: $btn-icon-size;
  margin: 0 2px;
  text-align: center;
  width: $btn-icon-size;

  &:hover {
    color: $btn-icon-hover;
    text-decoration: none;
  }
}

.btn-edit {
  background-color: $color-btn-primary;
}

.btn-delete {
  background-color: $color-btn-danger;
}

.btn-elegant {
  background: #{$primary-color}80;
  border-right: 50px solid $primary-color;
  color: #fff;
  padding: 10px;
  position: relative;
  text-align: center;
  width: 100%;

  a {
    color: #000;
  }

  i {
    font-size: 25px;
    position: absolute;
    right: -37px;
    top: 12px;
  }
}

//Pagination
.pagination {
  li {
    margin: $page-margin;
    overflow: hidden;

    .page-link {
      border-radius: $page-border-radius;
      height: 30px;
      padding: 0;
      padding-top: 3px;
      text-align: center;
      width: 30px;
    }

    &.active {
      .page-link {
        background-color: $page-active;
        border-color: $page-active;
      }
    }
  }
}

//Dropzone
.dz-message {
  min-height: 150px !important;
  margin: 0 !important;
  margin-top: 10px !important;
  max-width: 100% !important;
}

//Maps
agm-map {
  height: 500px;
}
