<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vive Confa</title>
    <base href="/">
    <meta name="description" content="" />
    <meta name="keywords" content="Confa" />
    <meta name="robots" content="index, follow">
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
    <link rel="icon" href="img/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.0/css/all.css" integrity="sha384-aOkxzJ5uQz7WBObEZcHvV5JvRW3TUc2rNPA7pe3AwnsUohiw1Vj2Rgx2KSOkF5+h" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
    <link rel="stylesheet" href="./assets/css/styles.css" />
</head>

<body>
    <div class="loader-container" id="page-loader">
        <div class="loading-wrapper loading-wrapper-hide">
        </div>
    </div>
    <header class="header-home">
        <div class="container">
            <div class="header-nav-top">
                <ul class="menu">
                    <li><a href="http://confa.co/"><i class="fa fa-users"></i><span>Personas</span></a></li>
                    <li><a href="http://confa.co/empresas/"><i class="fa fa-briefcase"></i><span>Empresas</span></a></li>
                </ul>
            </div>
            <nav class="row header-nav-ppal">
                <div class="col-md-12">
                    <a href="http://confa.co/"><img class="logo" src="assets/img/logo.png" alt="Logo"></a>
                    <ul class="menu">
                        <li><a href="#"><span>Acerca de Confa</span></a></li>
                        <li><a href="#"><span>Servicios</span></a></li>
                        <li><a href="#"><span>Contacto</span></a></li>
                        <li><a href="#"><span>Servicios en línea</span></a></li>
                    </ul>
                </div>
            </nav>
            <div class="row header-title">
                <div class="col-md-12">
                    <h1><span>Vive Confa</span></h1>
                    <h4><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce lacus lacus, porttitor at placerat non, placerat id nunc.</span></h4>
                </div>
            </div>
        </div>
    </header>
    <div class="page-wrapper">
        <div id="body-content">
            <div class="home-accommodation">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="search">
                                <input type="text" placeholder="Entrada" />
                                <input type="text" placeholder="Entrada" />
                                <input type="text" placeholder="Entrada" />
                                <input type="text" placeholder="Entrada" />
                            </div>
                        </div>
                        <div class="col-md-6"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer id="footer" class="jumb-footer">
        <div class="container">
            <div class="row">

            </div>
        </div>
    </footer>
</body>

</html>